.final-work,
.final-work * {
  box-sizing: border-box;
}
.final-work {
  background: #ffffff;
  height: 18590px;
  position: relative;
  overflow: hidden;
}
._1 {
  background: #ffffff;
  height: 128px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.items {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-m, 48px);
  align-items: center;
  justify-content: flex-end;
  width: 693px;
  position: absolute;
  right: 80px;
  top: 56px;
}
.assessment {
  color: #000000;
  text-align: left;
  font-family: var(--body-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-text-font-size, 20px);
  line-height: var(--body-text-line-height, 150%);
  font-weight: var(--body-text-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.member {
  color: #000000;
  text-align: left;
  font-family: var(--body-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-text-font-size, 20px);
  line-height: var(--body-text-line-height, 150%);
  font-weight: var(--body-text-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.team {
  color: #000000;
  text-align: left;
  font-family: var(--body-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-text-font-size, 20px);
  line-height: var(--body-text-line-height, 150%);
  font-weight: var(--body-text-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button {
  background: #000000;
  border-radius: 8px;
  padding: 14px 24px 14px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: var(
    --button-shadow-box-shadow,
    0px 1px 2px 0px rgba(0, 0, 0, 0.05)
  );
}
.home {
  color: #ffffff;
  text-align: left;
  font-family: var(--small-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 150%);
  font-weight: var(--small-text-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._4-aol {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 32px;
  line-height: 150%;
  font-weight: 500;
  position: absolute;
  left: 80px;
  top: 58px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.final-work2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 80px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 608px;
  top: 128px;
  width: 462px;
  height: 169px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.a {
  width: 1340px;
  height: 754px;
  position: absolute;
  left: 163px;
  top: 297px;
  object-fit: cover;
}
.b {
  width: 1339px;
  height: 753px;
  position: absolute;
  left: 165px;
  top: 1118px;
  object-fit: cover;
}
.c {
  width: 1339px;
  height: 753px;
  position: absolute;
  left: 165px;
  top: 1938px;
  object-fit: cover;
}
.d {
  width: 1339px;
  height: 753px;
  position: absolute;
  left: 165px;
  top: 2758px;
  object-fit: cover;
}
.e {
  width: 1340px;
  height: 754px;
  position: absolute;
  left: 165px;
  top: 3578px;
  object-fit: cover;
}
.f {
  width: 1340px;
  height: 754px;
  position: absolute;
  left: 169px;
  top: 4399px;
  object-fit: cover;
}
.g {
  width: 1340px;
  height: 754px;
  position: absolute;
  left: 165px;
  top: 5220px;
  object-fit: cover;
}
.h {
  width: 1340px;
  height: 754px;
  position: absolute;
  left: 165px;
  top: 6041px;
  object-fit: cover;
}
.i {
  width: 1340px;
  height: 754px;
  position: absolute;
  left: 165px;
  top: 6862px;
  object-fit: cover;
}
.j {
  width: 1340px;
  height: 754px;
  position: absolute;
  left: 165px;
  top: 7683px;
  object-fit: cover;
}
.k {
  width: 1340px;
  height: 754px;
  position: absolute;
  left: 165px;
  top: 8504px;
  object-fit: cover;
}
.l {
  width: 1340px;
  height: 754px;
  position: absolute;
  left: 165px;
  top: 9325px;
  object-fit: cover;
}
.m {
  width: 1340px;
  height: 754px;
  position: absolute;
  left: 165px;
  top: 10146px;
  object-fit: cover;
}
.n {
  width: 1344px;
  height: 756px;
  position: absolute;
  left: 165px;
  top: 10967px;
  object-fit: cover;
}
.o {
  width: 1344px;
  height: 756px;
  position: absolute;
  left: 165px;
  top: 11790px;
  object-fit: cover;
}
.p {
  width: 1355px;
  height: 762px;
  position: absolute;
  left: 165px;
  top: 12613px;
  object-fit: cover;
}
.q {
  width: 1355px;
  height: 762px;
  position: absolute;
  left: 165px;
  top: 13442px;
  object-fit: cover;
}
.r {
  width: 1350px;
  height: 759px;
  position: absolute;
  left: 170px;
  top: 14271px;
  object-fit: cover;
}
.s {
  width: 1355px;
  height: 762px;
  position: absolute;
  left: 165px;
  top: 15097px;
  object-fit: cover;
}
.t {
  width: 1350px;
  height: 759px;
  position: absolute;
  left: 170px;
  top: 15926px;
  object-fit: cover;
}
.u {
  width: 1355px;
  height: 762px;
  position: absolute;
  left: 165px;
  top: 16752px;
  object-fit: cover;
}
.video {
  width: 1355px;
  height: 762px;
  position: absolute;
  left: 170px;
  top: 17581px;
  object-fit: cover;
}
